@import (less) "../../vendor/normalize/normalize.css";
@import (less) "../../vendor/css-reset/reset.css";

@import "../board/board";

@color_black: #27221F;
@color_backdrop: fade(@color_black, 67%);

html {
    font-size: 12pt;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
    color: @color_backdrop;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: row nowrap;

    &::before, &::after {
        content: '';
        display: block;
        flex: 1 0 auto;
        height: 100%;
        background-color: @color_backdrop;
    }

}

body > main {
    flex: 0 0 auto;
    display: flex;
    flex-flow: column nowrap;

    &::before, &::after {
        content: '';
        display: block;
        flex: 1 0 auto;
        width: 100%;
        background-color: @color_backdrop;
    }

}

b {
    font-weight: inherit;
}