@size_tile: 2rem;

article.board {

    font-size: 0;
    padding: 1px 1px 0 0;

    div.column, b.tile {
        display: inline-block;
        width: @size_tile;
    }

    div.column {
        height: 100%;
        margin: 0 0 0 1px;
    }

    b.tile {
        color: transparent;
        cursor: pointer;
        font-size: 1.2rem;
        text-align: center;
        line-height: @size_tile;
        height: @size_tile;
        margin: 0 0 1px 0;
        overflow: hidden;
        background-color: @color_backdrop;
        transition: background-color 200ms ease, color 200ms ease;

        &.revealed {
            cursor: default;
            background-color: transparent;
            color: @color_backdrop;
        }

    }

}