@size_tile: 2rem;

@keyframes reveal-size {
    0%, 33% {
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
    100% {
        height: 0;
        width: 0;
        top: 50%;
        left: 50%;
    }
}

@keyframes reveal-roundness {
    0% {
        border-radius: 0%;
    }
    67%, 100% {
        border-radius: 50%;
    }
}

article.board {

    flex: 0 0 auto;
    font-size: 0;
    padding: 1px 1px 0 0;
    user-select: none;

    div.column, b.tile {
        vertical-align: top;
        display: inline-block;
        width: @size_tile;
    }

    div.column {
        height: 100%;
        margin: 0 0 0 1px;
    }

    .tile {
        position: relative;
        color: transparent;
        cursor: default;
        font-size: 1.2rem;
        text-align: center;
        line-height: @size_tile;
        height: @size_tile;
        margin: 0 0 1px 0;
        overflow: hidden;
        transition: color .2s linear;

        .cover {
            display: block;
            position: absolute;
            z-index: -1;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-radius: 0;
            background-color: @color_backdrop;
            transition: background-color .2s linear;
        }

        svg {
            opacity: 0;
            transition: opacity .2s linear;
        }

        &.revealed {
            color: @color_backdrop;
            .cover {
                animation: reveal-size .2s ease both, reveal-roundness .2s ease both;
            }
        }

        &.flagged .cover {
            background-image: url('../js/assets/flag.svg');
            background-position: center;
            background-size: contain;
        }

    }

}

body[data-state="playing"] article.board b.tile {
    cursor: pointer;
    &.revealed {
        cursor: default;
    }
}

body[data-state="lost"] article.board b.tile.mine {

    svg {
        opacity: 1;
    }

    .cover {
        background-image: none;
        background-color: red;
    }
}

body[data-state="won"] article.board b.tile .cover {
    background-color: fade(#407A52, 80%);
}