<article class="board" data-width="<%= game.width %>" data-height="<%= game.height %>">
  <% _.each(game.board, function(column, x){ %>

    <div class="column">

      <% _.each(column, function(tile, y){ %>

        <b class="tile<% if(tile.mine){ %> mine<% } %>" data-x="<%= x %>" data-y="<%= y %>">
          <% if(tile.adjacent > 0 && !tile.mine){ print(romanize(tile.adjacent)) } %>
        </b>

      <% }); %>

    </div>

  <% }); %>
</article>